#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
}

.fadeIn:hover{
  animation-name: fadeInKey;
  animation-duration: 2s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /*animation: fadeInKey 2s infinite alternate;*/
}




@keyframes fadeInKey {
  0% { opacity: 0;}
  100% { 
    opacity: 1; 
    /* transform:rotate(90deg); */
  }
}








.slideInUp {
  animation-name: slideInUp;
  animation-duration: 2s;
  /*animation-fill-mode: both;*/
   animation-iteration-count: infinite; 
   animation-direction: alternate; 
  /*https://i.stack.imgur.com/qyvON.png*/
  animation-timing-function: cubic-bezier(.5,1.49,.73,.24); /* ease-in, ease-out, ease-in-out, linear, cubic-bezier(n,n,n,n) */
  
  /*https://cubic-bezier.com/*/ 
  /*animation-timing-function: linear;*/ /* ease-in, ease-out, ease-in-out, linear, cubic-bezier(n,n,n,n) */
}

@keyframes slideInUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
  animation-duration: 2s;
  animation-fill-mode: both;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}


.zoomOutRight {
  animation-name: zoomOutRight;
  animation-duration: 3s;
  animation-fill-mode: both;
}

@keyframes zoomOutRight {
  40% {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 0.5) translate3d(200px, 0, 0);
  }
  100% {
    opacity: 0;
    transform: scale(0.1) translate3d(2000px, 0, 0);
  }
}

.bounceIn {
  animation-name: bounceIn;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes bounceIn {
  0% {
    opacity: 1;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.flip:hover {
  backface-visibility: visible;
  animation-name: flip;
  animation-duration: 1s;
  animation-fill-mode: both;
}


@keyframes flip {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }
  40% {
    transform: perspective(400px) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out;
  }
  50% {
    transform: perspective(400px) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in;
  }
  80% {
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: perspective(400px);
    animation-timing-function: ease-in;
  }
}


.hinge {
  animation-duration: 4s;
  animation-name: hinge;
  transform-origin: top left;


}

@keyframes hinge {
  0% {animation-timing-function: ease-in-out;}

  20%,60% {
    transform: rotate3d(0, 0, 1, 80deg);
    animation-timing-function: ease-in-out;
  }

  40%,80% {
    transform: rotate3d(0, 0, 1, 60deg);
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

